In [12]:
import pandas as pd
import numpy as np

In [5]:
!head -n 10 ch02/names/yob1880.txt

Mary,F,7065
Anna,F,2604
Emma,F,2003
Elizabeth,F,1939
Minnie,F,1746
Margaret,F,1578
Ida,F,1472
Alice,F,1414
Bertha,F,1320
Sarah,F,1288

In [6]:
years = range(1880, 2011)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'ch02/names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)
    frame['year'] = year
    pieces.append(frame)

In [10]:
names = pd.concat(pieces, ignore_index=True)

In [11]:
names.head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [13]:
np.allclose(names.groupby(['year', 'sex']).prop.sum(), 1)

AttributeError: 'DataFrameGroupBy' object has no attribute 'prop'